.heightBlock {
  position: relative;
  margin-top: 60px;
  margin-bottom: 10px;
  background-color: rgba(148, 119, 215, 0.27);
  padding: 20px;
  border-radius:5%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.68);
  font-size: 15px;
  .data {
    font-size: 20px;
    font-weight: bold;
  }
}
.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.week {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #49C8C4;
  line-height: 0;

}
.img {
  position: absolute;
  bottom: 0;
  right: 4px;
  height: 50px;
}

