.IosModalMain {
}
.mainTitle {
  font-weight: bold;
  font-size: 14px;
}

img {
    height: 100px;
}

.imagineDrawer {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    box-shadow: 3px 2px lightgray, -1em 0 .6em gray;
    margin-top: 30px;
}

.title {
    line-height: 1px;
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    color: gray;
}
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 19px !important;
}

.standalone {
    @media all and (display-mode: standalone) {
        body {
            display: none;
        }
    }
}


