.mainContent {
  padding: 20px;
  margin-bottom: 40px;
  .firstBlock {
    position: relative;
    .title {
      color: #EE236F;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    img {
      height: 300px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: 20px 20px 50px 5px grey;
    }
    .avatar {
      position: absolute;
      z-index: 999;
      right: -13px;
      top: -10px;
      border: 5px solid rgba(255, 255, 255, 0.46);
      border-radius: 100%;
    }
  }
  .secondBlock {
    box-shadow: 4 0 9px rgb(0 0 0 / 20%);
    margin-top: 20px;
  }
  .progressBarBlock {
    padding: 20px;
    background: white;
    margin: 20px 0;
    border-radius: 5px;
    .title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
      padding-bottom: 10px;
      color: #EE236F;
    }
    .subTitle {
      color: gray;
      font-size: 13px;
      margin-bottom: 5px;
    }
    .progressBar {
      position: relative;
      width: 90%;
      .percentResult {
        position: absolute;
        font-weight: bold;
        color: #49C8C4;
        right: -48px;
        top: -7px;
      }
    }
  }
}
